<form action='' method = "POST">
    <p>name <input type = "text" name = "name" value="{{person.name}}"/></p>
    <p>Type <input type = "text" name = "Type" value="{{person.Type}}"/></p>
    <p>age <input type = "integer" name = "age"  value="{{person.age}}"/></p>
    <p>description <input type = "text" name = "description" value="{{person.description}}"/></p>
    <p>date <input type = "integer" name = "date" value="{{person.date}}"/></p>
    <p><input type = "submit" value = "Submit" /></p>
  </form>